---
    //definimos las propiedades
    //que puede recibir el componente
    interface Props {
        etiqueta: string;
        
    }

// crear una variable
//para recibir etiqueta
//astro.props=valores enviados desde el control
const { etiqueta } = Astro.props;


---
<!-- 
etiqueta input se usa para:

- campo de texto
-password
-checkbox
-radio button
-boton de envio
ES ETIQUETA CERRADA
-->
<label>{ etiqueta }</label>
<input />

